/* ==========================================================================
    Section comment block
   ========================================================================== */
html,
body {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   background-image: url('../Images/intersection.png');
   background-repeat: repeat;
}

h1,
h3 {
  text-align: center;
  color: white;
}

.parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.strip {
  width: 100vw;
  background-color: #867099;
  padding: 28px;
  box-shadow: 1px 2px 18px 2px rgba(26, 24, 24, 0.76);
}

#email {
  color: white;
  text-align: center;
}


/* Sub-section comment block
   ========================================================================== */
